<h1>Users</h1>
<div class="form-group">
  <input class="input-sm" type="text" placeholder="Search by any attribute..." name="filter" />
  <button class="btn" type="button" id="filter">Search</button>
  <button class="btn" type="button" id="resetFilter">Reset filter</button>
</div>
<p><button class="btn btn-primary create pull-right"><i class="icon-plus icon-white"></i> Create new</button></p>
<table class="userList table table-hover">
  <thead>
    <th>Email</th>
    <th>Rights</th>
    <th>Actions</th>
  </thead>
  <tbody></tbody>
</table>
